body  {
    
    min-height: 900px;
    display: flex;
    border: solid rgb(88, 13, 239);
    border-style: groove;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center; 
    width: 660px;
}


.box {
    height: 200px;
    width: 200px;
    background-color: red;
    font-size: 20px;
}